.navbar.sticky-nav
    .navbar-start.flex
        span#start-text.flex.justify-center Digital Parlay
    .navbar-center
        span#middle-text Center Text
    .navbar-end.mr-24
        .btn.btn-sm Home
        .btn.btn-ghost.btn-sm Blog
        .btn.btn-ghost.btn-sm Pricing
        .dropdown.dropdown-end
            .btn.btn-ghost.rounded-btn.sqr(tabindex='0') Our Products
            ul.p-2.shadow.menu.rounded.dropdown-content.bg-base-100.w-52(tabindex='0')
                li
                    a AHaB Audit
                li
                    a AI Assistant
                li
                    a Digital Parlay VP Network
        .btn.btn-ghost.btn-sm Contact Us
