---
layout: home
title: "bitch!"
---
.spacer.layer1
    include sundog/navbar.pug
    include title-section.pug

include content.pug
    //

include footer.pug





// -
//     const employee = {
//         firstName: 'James',
//         lastName: 'Hibbard',
//         extn: '12345'
//     }
//
// #employee
//     p= `${employee.firstName} ${employee.lastName}`
//     p Extension:
//         if employee.extn
//             =employee.extn
//         else
//             | n/a
// br
// br
// br
// button.btn.btn-primary(style='border-radius: 12px;') test button 3
// button.btn(hx-get='/pugrox') Test button 2

