---
layout: home
title: "bitch!"
---
include navbar3.pug

//include navbar2.pug
include hero.pug
include content.pug
h2 You're ready to go!

h1 Start developing your Jekyll website.

button.test testbutton
div.remark
    p Pug rocks!!





button.btn.btn-primary(style='border-radius: 12px;') test button 3
button.btn(hx-get='/pugrox') Test button 2