.card.compact.h-full
    figure
        .item#colorstrip
            h1.card-title.flex.justify-center
                | Card Title
    .card-body.bg-error
        //h1.card-title.bg-primary
        //     | Card Title
        p
            | content, some card content
        .card-actions
            button.btn.btn-primary buy now


//.card.shadow-sm.bg-accent.text-accent-content
//    figure
//        img(src='https://picsum.photos/id/1005/400/250')
//    .card-body
//        h2.card-title Accent color
//        p
//            | Rerum reiciendis beatae tenetur excepturi aut pariatur est eos. Sit sit necessitatibus veritatis sed molestiae voluptates incidunt iure sapiente.
//        .card-actions
//            button.btn.btn-secondary More info
