

.container
    .grid.grid-cols-1(class="md:grid-cols-3")
        .one
            .text-4xl.flex.justify-center
                |Software you can talk to
            .text-xl
                p We take the latest technology and apply it to solve common problems faced by small businesses every day.
                br
                p Research shows that businesses who reply to enquiries faster are
                    | more likely to do better.
                br
                p Our conversational software allows
                    | your business to react immediately to customer enquiries and secure work.
        .two.h24
            include digpar/price-card.pug
        .three.text-4xl.flex.justify-center
            | maybe

