.container.mx-lg
    span#header-text.justify-center
        .text-4xl.flex.justify-center
            | Your friendly neighborhood tech company
    br
    span#bottom-text.flex.justify-center
        .text-2xl.justify-center
            | Big ideas for small businesses! We create digital tools to make life easier and let you focus on what you do best.

.container.mx-lg
    .divider How we can make your business more effective online

.container.mx-lg
    .grid.grid-cols-3
        .one.text-4xl.flex.justify-center
            |yes
        .two.text-4xl.flex.justify-center
            | no
        .three.text-4xl.flex.justify-center
            | maybe

