.bg-primary
    .container.mx-lg
        .grid.grid-cols-2
            .flex.justify-center
                .footer-col#left
                    span#left-text column with links
                    .flex.justify-center
                        ul
                            li 1
                            li 2
                            li 3
                            li 4
            .flex.justify-center
                .footer-col#right
                    span#right-text column with links
                    .flex.justify-center
                        ul
                            li 1
                            li 1
                            li 2
                            li 3
    .container
        .divider

    .container.mx-lg
        .flex.justify-center
            .grid.grid-cols-2
                .footer-col.flex.justify-center.mx-20
                    span.flex.justify-center privacy policy
                    br
                .footer-col.flex.justify-center.mx-20
                    span.flex.justify-center terms and conditions

    .container.mx-lg
        .flex.justify-center
            span.flex.justify-center#copyright Copyright 2021 bitches