.hero.min-h-screen(style='background-image: url("https://picsum.photos/id/1005/1600/1400");')
    .hero-overlay.bg-opacity-30
    .text-center.hero-content.text-neutral-content
        .max-w-md
            h1.mb-5.text-5xl.font-bold
                | Hello there
            p.mb-5
                | Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.
            button.btn.btn-ghost.sqr Get Started
