.grid.body-cont
    .navbar.grid-cols-1
        .flex.px-2.mx-2
            span#test.text-lg.font-bold Enemy
        .flex-grow.justify-end.px-2.mx-2
            .group
                .btn.btn-ghost.btn-sm.sqr square
                .btn.btn-ghost.btn-sm.sqr test
                .btn.btn-ghost.btn-sm.sqr test
                .btn.btn-ghost.btn-sm.sqr test


