.navbar.sticky-nav
    .navbar-start.flex
        span#start-text.flex.justify-center tested 1234
    .navbar-center
        span#middle-text this is the center!
    .navbar-end
        .btn.btn-ghost.btn-sm.sqr square
        .btn.btn-ghost.btn-sm.sqr b1tch
        .btn.btn-ghost.btn-sm.sqr ho
        .btn.btn-ghost.btn-sm.sqr down
        .dropdown.dropdown-end
            .btn.btn-ghost.rounded-btn.sqr(tabindex='0') Dropdown
            ul.p-2.shadow.menu.dropdown-content.bg-base-100.rounded-box.w-52(tabindex='0')
                li
                    a Item 1fda
                li
                    a Item 2fdsafdsa
                li
                    a Item 3fdsafdsa
