.navbar.sticky-nav
    .navbar-start.justify-center
        span#start-text tested
    .navbar-end.justify-center
        .btn.btn-ghost.btn-sm.sqr square
        .btn.btn-ghost.btn-sm.sqr b1tch
        .btn.btn-ghost.btn-sm.sqr ho
        .btn.btn-ghost.btn-sm.sqr down
        .dropdown.dropdown-end
            .btn.btn-ghost.rounded-btn.sqr(tabindex='0') Dropdown
            ul.p-2.shadow.menu.dropdown-content.bg-base-100.rounded-box.w-52(tabindex='0')
                li
                    a Item 1
                li
                    a Item 2
                li
                    a Item 3
