.container.grid.grid-cols-2.my-24
        .text-4xl.flex.justify-center.my-24
            | Software you can talk to
        .text-xl.my-24
            p We take the latest technology and apply it to solve common problems faced by small businesses every day.
            p Research shows that businesses who reply to enquiries faster are
                | more likely to do better.
            p Our conversational software allows
                | your business to react immediately to customer enquiries and secure work.
        .text-xl.my-24
            p As well as producing tools for use on social media, we create solutions for your website too.
            p Our chatbot ad-on can provide immediate answers to your customer enquiries so whether it's artisan soap or landscape gardening your business will do better online.
        .text-4xl.flex.justify-center.my-24
            | Website add-ons
        .text-4xl.flex.justify-content.my-24
             | Got an interesting
             br
             | challenge?
        .text-xl.my-24
            p Our goal is to provide our clients with simple high-quality ideas that help businesses work better online.
            p No matter what the project or platform, we  thrive on a good challenge, so throw a problem at us, we'll find you a solution.
