.container.mx-lg.mt-52
    span#header-text.justify-center
        .text-4xl.flex.justify-center
            | Your friendly neighborhood tech company
    br
    span#bottom-text.flex.justify-center
        .text-2xl.justify-center
            | Big ideas for small businesses! We create digital tools to make life easier and let you focus on what you do best.
